.signup-page .doc-con{
    background: linear-gradient(to bottom, #2B51B4, #13234E);
    height: 100vh;
    margin: 0;
    display: flex;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    
}
.signup-page .doc-img{
    /* height: 100vh; */
    width: 50%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.signup-page .doc-title{
    font-family: "Koh Santepheap", serif;
    top:0% ;
    font-size: 65px;
    font-weight: 700;
    margin: 0;
}
.signup-page .doc-head{
    font-family: "Koh Santepheap", serif;
    font-size: 35px;
    top: 10%;
    left: 62%;
    text-align: center;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1px;
}
.signup-page .doc-text{
    display: flex;
    justify-content: center;
    width: 40%;
}
.signup-page .doc-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.signup-page form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin-top: 30px;
    color: white;
    overflow-y: auto;
    height: 100vh;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
}
.signup-page input, .signup-page select{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    font-family: "Krub", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}
.signup-page option{
    background-color: #13234E;
}
.signup-page input:focus, .signup-page select:focus{
    outline: none;
}
.signup-page input::placeholder, .signup-page select::placeholder{
    color: white;
    font-size: 16px;
}

.signup-page .sign-in{
    padding: 10px 25px;
    font-family: "Koh Santepheap", serif;
    color: #1F94A4;
    font-size: 16px;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 10px 10px spread #12227885 ;
    margin-top: 20px;
}
.signup-page .sign-in:hover{
    background-color: rgb(221, 244, 248);
    color: #047988;
}
.signup-page .google-icon{
    overflow: hidden;
    width: 35px;
}
.signup-page .google{
    width: 100%;
    text-align: center;
    display: flex;
    cursor: pointer;
}
.signup-page hr{
    width: 60%; 
  margin: auto 10px;
  /* border-top: 2px solid #ddd; */
}
.signup-page #image0_2_537{
    display: block;
}
.signup-page .back-btn{
    position: absolute;
    top: 3%;
    right: 20%;
    font-family: "Koh Santepheap", serif;
}

